body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
}

h2 {
    color: #333;
}

#form {
    margin-left: auto;
    margin-right: auto;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 50px;
  
   
}

input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#btns {
    margin-top: 10px;
    padding: 10px;
    background-color: #1a9c3a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #e64a19;
}

p {
    margin-top: 15px;
}

a {
    margin-left: 0%;
    margin-top: 0px;
    color: #ff5722;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Media Queries for responsiveness */

/* For devices smaller than 768px */
@media (max-width: 768px) {
    body {
        justify-content: flex-start;
        /* Align content to the top on smaller screens */
    }

    form {
        width: 80%;
        /* Take up more width on smaller screens */
        padding: 15px;
    }

    h2 {
        font-size: 24px;
    }

    input {
        font-size: 14px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }

    a {
        margin-top: 20px;
    }
}

/* For devices smaller than 480px */
@media (max-width: 480px) {
    form {
        margin: auto;
        width: 90%;
        /* Make form take almost full width on very small screens */
        padding: 10px;
    }

    h2 {
        text-align: center;
        font-size: 20px;
    }

    input {
        font-size: 14px;
        padding: 8px;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }

    a {
        margin-top: 10px;
    }

    p {
        text-align: center;
    }
}


.slider-container {
  width: 100%;
  height: 300px; /* adjust as needed */
  overflow: hidden;
  position: relative;
}

.slider-track {
  display: flex;
  width: 200%; /* number of images * 100% */
  transition: transform 1s ease-in-out;
}

.slider-track img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
